. .header-container {
}

.register__warning {
  margin-top: 10px;
  display: inline-block;
}

.register__button {
  margin-top: 10px;
}

svg {
  /* height: fit-content !important; */
}

.Typewriter {
  display: inline;
}

.ui.button.expenseList__deleteNote {
  display: none;
}

.expenseList__singleNote :hover .expenseList__deleteNote {
  display: inline;
}

.ui.icon.button {
  background-color: white;
}
