@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}

.register__warning {
  margin-top: 0.5rem;
  display: inline-block;
}

.ui .button {
  margin-top: 0.5rem;
}

.app__container {
  position: relative;
  min-height: 100vh;
}

.content__container {
  padding-bottom: 3.5rem;
}

.home__container {
  height: 70vh;
}
.loggedIn__container {
  position: relative;
  min-height: 100vh;
}

.loggedIn__content-wrap {
  padding-bottom: 3.5rem;
}

.Typewriter {
  display: inline;
}

.ui.button.expenseList__deleteNote {
  display: none;
}

.expenseList__singleNote :hover .expenseList__deleteNote {
  display: inline;
}

.ui.icon.button {
  background-color: white;
}

.ui.grid > .column {
  margin-top: 4em;
  text-align: center;
}

.home__primaryHeader {
  font-size: 60px;
}
.ui.grid > .column {
  margin-top: 0;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  justify-content: center;
}

.button {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
