@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}

. .header-container {
}

.register__warning {
  margin-top: 10px;
  display: inline-block;
}

.register__button {
  margin-top: 10px;
}

svg {
  /* height: fit-content !important; */
}

.Typewriter {
  display: inline;
}

.ui.button.expenseList__deleteNote {
  display: none;
}

.expenseList__singleNote :hover .expenseList__deleteNote {
  display: inline;
}

.ui.icon.button {
  background-color: white;
}

.ui.grid > .column {
  margin-top: 4em;
  text-align: center;
}

.home__primaryHeader {
  font-size: 100px;
}
